:root {
  --cor-primaria: rgb(0, 123, 255); /* Azul */
  --cor-secundaria: rgb(108, 117, 125); /* Cinza */
  --cor-sucesso: rgb(40, 167, 69); /* Verde */
  --cor-perigo: rgb(220, 53, 69); /* Vermelho */
  --cor-aviso: rgb(255, 193, 7); /* Amarelo */
  --cor-fundo: rgb(243, 241, 245); /* Fundo claro */
  --cor-texto: rgb(74, 74, 74); /* Texto escuro */
}

body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-title {
  margin-bottom: 20px;
  font-weight: 700;
}

#dataHora {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--cor-texto);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--cor-primaria);
}

.table th {
  background-color: var(--cor-primaria);
  color: white;
}

.table td {
  background-color: #f9f8fa;
}

.text-warning {
  color: var(--cor-aviso) !important;
}
